/* GENERAL STYLING */
html {
  background-image:url("resources/bg2.jpg");
  background-repeat: no-repeat;
  background-size:cover;
  background-attachment: fixed;
  background-position: center;
  color:black;
  overflow-x: hidden;
  padding-left:10%;
  padding-right:10%;
}

.shadow {
  box-shadow: 0 10px 20px rgba(0,0,0,0.25);
}

a {
  text-decoration:none; /* remove href underline */
}

/* HEADER  */
header,footer, .navbar, .personality {
  background-color:rgba(255,255,255,0.3);
  text-align:center;
  box-shadow: 2px 2px 2px gray;
}

header>p {
  padding:20px;
}

.navbar {
  background-color: white;
  display:flex;
  justify-content: space-evenly;
  position:sticky;
  top:0;
  z-index:1000;
}
.navbar>a {
  margin:10px;
}
a:hover {
  transform:scale(1.04);
  color:hotpink;
}

.fa {
  padding: 12px;
  margin:10px;
  font-size: 15px;
  height:20px;
  width: 20px;
  text-align: center;
  border-radius: 50%;
  border:2px solid hotpink;
  background: #F9D0BE;
  color: hotpink;
  box-shadow:  2px 2px 2px gray;
}
.fa-arrow-up {
  position:fixed;
  height:50px;
  width:50px;
  left:3%;
  top:5%;
}
.fa:hover {
	opacity:0.7;
  transform: scale(1.1); 
  box-shadow: inset 2px 2px 2px gray;
}

.photo-collage {
  display:flex;
  flex-direction:row;
  justify-content: center;
  align-items:center;
  margin:0;
}
.photo-collage>div>img {
  display: flex;
  flex-direction: column;
  margin:10px;
  border-radius:10%;
}
.tilt1 { 
  transform:rotate(-5deg);
}
.tilt2 {
  transform: rotate(5deg);
}

h1 {
  margin:0;
}

/* MAIN CONTENT */
legend {
  text-align:center;
}

.personality > .row {
  display:flex;
  justify-content: space-between;
  align-items:stretch;
}
.MyerBriggs, .DISC, .UCMHP, .Belbin {
  margin:10px;
  width:50%;
  background-image: linear-gradient(to bottom right, #F2E7E2, #F4E6CB,  #F4E6CB, #F4E6CB,#F2E7E2);
  display:flex;
  flex-direction:column;
  justify-content: center;
  align-items:center;
  text-align:center;
  padding:20px;
}
.MyerBriggs:hover, .DISC:hover, .UCMHP:hover, .Belbin:hover {
  background-image: linear-gradient(to bottom right, #F2E7E2, #F4E6CB,  #F4E6CB);
}
.MyerBriggs>a>img, .UCMHP>a>img, .Belbin>a>img, .DISC>a>img {
  border-radius: 50%;
}
.MyerBriggs>img:hover, .UCMHP>img:hover, .Belbin>img:hover, .DISC>img:hover {
  transform: scale(1.1);
}

fieldset {
  background-color: rgba(244, 230, 203, 0.5);
  border:none;
  box-shadow: 2px 2px 2px gray;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* FOOTER */
footer > div {
  display:flex;
	justify-content:center;
  align-items: center;
	margin:5px;
	padding:5px;
}

.fa-spin {
  animation: fa-spin 10s infinite linear;
}

/* RESPONSIVE STYLING */
@media only screen and (max-width: 1000px) {
html {
    max-width:100%;
    padding-left:10%;
    padding-right:10%
  }

  .fa-arrow-up {
    position:fixed;
    left:2%;
    top:80%;
  }

  .photo-collage {
    transform:scale(0.7);
  }

  .personality > .row {
    display:flex;
    flex-direction: column;
    justify-content: stretch;
    align-items:center;
  }
}